.section {
  @apply flex flex-col w-full text-white bg-blue-400;
  min-height: 100%;
  border-radius: 10px;
  align-items: center;
}

.news_text {
  @apply text-3xl mt-3;
  color: white;
  font-family: 'Georgia', serif;
  border-radius: 5px;
  text-align: center;
}

.article {
  @apply flex py-4 w-full bg-blue-300 relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  font-family: 'Georgia', serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.div_img {
  @apply flex flex-col items-center gap-5;
  flex-grow: 1;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  @apply shrink-0 border border-black border-solid cursor-pointer;
  border-radius: 10px;
}

.img-landscape {
  @apply w-full;
  aspect-ratio: 16/9;
}

.img-portrait {
  @apply h-72 w-auto;
}

.text_container {
  @apply flex-1 text-lg;
  white-space: normal;
  color: white;
  font-family: 'Georgia', serif;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  @apply text-white underline;
}

.description_link {
  @apply cursor-pointer text-white border border-blue-600 rounded px-4 py-2 mt-2 text-center;
  text-decoration: none;
  &:hover {
    background-color: #2a4365; // оттенок темнее, чем bg-blue-500
  }
}

.modal {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50;
}

.modal_content {
  @apply relative max-w-full max-h-full overflow-auto;
  border-radius: 10px;
  background: #60a5fa; /* bg-blue-300 */
  border: 2px solid #2563eb; /* bg-blue-600 */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_img {
  @apply w-full h-auto max-w-full max-h-full;
  border-radius: 10px;
}

.modal_text {
  @apply text-lg max-h-96 overflow-y-auto w-full;
}

.close_button {
  @apply mt-4 p-2 bg-blue-500 text-white rounded;
  display: block;
  margin: 20px auto 0; // Центрирование кнопки снизу
}

@media (max-width: 768px) {
  .article {
    @apply flex-col px-4;
  }

  .div_img {
    @apply flex-col items-center w-full;
  }

  .img {
    @apply w-full max-w-full;
  }

  .img-portrait {
    @apply w-full h-auto;
  }

  .text_container {
    @apply max-w-full;
    max-height: 200px;
  }

  .time {
    @apply ml-0;
  }
}

.landscape .div_img {
  @apply flex-col items-center w-full;
}

.landscape .img {
  @apply w-full max-w-full;
}
